.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;

}
html{

    background-color: black;
}

.item{

    color: white;
    font-size: 60px;
    position:static;
    padding-top: 15%;
    

}

.item:hover{
    transform: scale(1.2);
    transition-duration: 0.3s;
}

.item:not(:hover){
    transform: scale(1);
    transition-duration: 0.3s;
}
